i{
    padding: 1.2rem;
    font-size: 3rem;
}

@media only screen and (max-width: 600px) {
    .container-fluid{
        background: #5cdb95;
    }

}

@media only screen and (min-width: 601px) {
    .container-fluid{
        background:url(../../assets/Untitled.png) no-repeat !important;
        background-size: auto 835px;
    }  
}

.container-fluid h1{
    color: #edf5e1 ;
    padding: 0.4rem;
}

.container-fluid{
    padding-top: 7.5rem;
    padding-bottom: 23.5rem;
}

h1{
    font-size: 5.5rem;
}

.container-fluid h3{
    color: #05386b;
    padding: 0.9rem;
}

.btn-dark{
    background-color: #05386b!important;
    border-color: #05386b!important;
}

button:hover{
    color: #5cdb95!important;
}

i:hover{
    color:#edf5e1!important;
}
