<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Rajat Shenoy</h1>
            <h3>Django Developer | Python Developer</h3>
            <button class="btn btn-dark px-5 py-2" href="#" routerLink = "../register">Know More</button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 my-3">
            <a href="https://www.facebook.com/ShenoyRajat"><i class="fab fa-facebook-f" style = "color: #05386b;"></i></a>
            <a href="https://www.instagram.com/shenoyrajat270/"><i class="fab fa-instagran" style = "color: #05386b;"></i></a>
            <a href="https://github.com/rajatshenoy56"><i class="fab fa-githubs" style = "color: #05386b;"></i></fa-icon></a>
            <a href="https://www.linkedin.com/in/rajat-shenoy-00311a196/"><i class="fab fa-linked-in" style = "color: #05386b;"></i></a>
        </div>
    </div>
</div>