<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Rajat Shenoy</h1>
            <h3>Django Developer | Python Developer</h3>
            <button class="btn btn-dark px-5 py-2" href="#" routerLink = "../register">Know More</button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 my-3">
            <a href="https://www.facebook.com/ShenoyRajat"><fa-icon [icon]="faFacebookF" style = "color: #05386b;"></fa-icon></a>
            <a href="https://www.instagram.com/shenoyrajat270/"><fa-icon [icon]="faInstagram" style = "color: #05386b;"></fa-icon></a>
            <a href="https://github.com/rajatshenoy56"><fa-icon [icon]= "faGithub" style = "color: #05386b;"></fa-icon></a>
            <a href="https://www.linkedin.com/in/rajat-shenoy-00311a196/"><fa-icon [icon]="faLinkedin" style = "color: #05386b;"></fa-icon></a>
        </div>
    </div>
</div>