<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-sm-12">
            <h1>Login</h1>
            <br>
            <form [formGroup]="Login" (submit)="login()" class ="form">
                <div class="form-group">
                    <label for = "userEmail"><h3>Email</h3></label>
                    <input type="email" formControlName = "userEmail" placeholder="Enter email" [(ngModel)]= "credentials.email" name="userEmail" class="form-control" />
                </div>
                <div *ngIf="Login.controls['userEmail'].invalid && (Login.controls['userEmail'].dirty || Login.controls['userEmail'].touched)"class="alert alert-danger">
                    <div *ngIf="Login.controls['userEmail'].errors.required">
                        Email is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for = "userPassword"><h3>Password</h3></label>
                    <input type="Password" formControlName = "userPassword" placeholder="Enter Password" [(ngModel)]= "credentials.password" name="userPassword" class="form-control" />
                </div>
                <div *ngIf="Login.controls['userPassword'].invalid && (Login.controls['userPassword'].dirty || Login.controls['userPassword'].touched)"class="alert alert-danger">

                    <div *ngIf="Login.controls['userPassword'].errors.required">
                        Password is required.
                    </div>
                    <div *ngIf="Login.controls['userPassword'].errors.minlength">
                        Password must be at least 4 characters long.
                    </div>
                </div>
                <button class = "btn btn-success p-auto" type="submit">
                    Save
                </button>
                <div></div>
                <a href="#" routerLink ="../register"><h4>Dont have an account? Signup</h4></a>
            </form>
            <br/><br/>
        </div>
    </div>
</div>
