<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-sm-12">
            <h1>SignUp</h1>
            <br>
            <form [formGroup]="Register" (submit)="register()">
                <div class="form-group">
                    <label for = "userEmail"><h3>Email</h3></label>
                    <input type="email" formControlName = "userEmail" placeholder="Enter email" [(ngModel)] = "credentials.email" name="userEmail" class="form-control" />
                </div>
                <div *ngIf="Register.controls['userEmail'].invalid && (Register.controls['userEmail'].dirty || Register.controls['userEmail'].touched)"class="alert alert-danger">
                    <div *ngIf="Register.controls['userEmail'].errors.required">
                        Email is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for = "userName"><h3>Name</h3></label>
                    <input type="text" formControlName = "userName" placeholder="Enter Name" [(ngModel)] = "credentials.name" name="userName" class="form-control" />
                </div>
                <div *ngIf="Register.controls['userName'].invalid && (Register.controls['userName'].dirty || Register.controls['userName'].touched)"class="alert alert-danger">
                    <div *ngIf="Register.controls['userName'].errors.required">
                        Name is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for = "userPassword"><h3>Password</h3></label>
                    <input type="Password" formControlName = "userPassword" placeholder="Enter Password" [(ngModel)] = "credentials.password" name="userPassword" class="form-control" required />
                </div>
                <div *ngIf="Register.controls['userPassword'].invalid && (Register.controls['userPassword'].dirty || Register.controls['userPassword'].touched)"class="alert alert-danger">

                    <div *ngIf="Register.controls['userPassword'].errors.required">
                        Password is required.
                    </div>
                    <div *ngIf="Register.controls['userPassword'].errors.minlength">
                        Password must be at least 8 characters long.
                    </div>
                </div>
                <div class="form-group">
                    <label for = "userCPassword"><h3>ConfirmPassword</h3></label>
                    <input type="Password" formControlName = "userCPassword" placeholder="Re-enter Password" name="userCPassword" class="form-control" required minlength="8"/>
                </div>
                <div *ngIf="Register.controls['userCPassword'].invalid && (Register.controls['userCPassword'].dirty || Register.controls['userCPassword'].touched)"class="alert alert-danger">

                    <div *ngIf="Register.controls['userCPassword'].errors.required">
                        Password is required.
                    </div>
                    <div *ngIf="Register.controls['userCPassword'].errors.minlength">
                        Password must be at least 8 characters long.
                    </div>
                </div>
                <button class = "btn btn-success" type="submit">
                    Submit
                </button>
                <div></div>
                <a href="#" routerLink = "../login"><h4>Already have an account? Login</h4></a>
            </form>
            <br/><br/>
        </div>
    </div>
</div>
